@if (secrets$ | async; as secrets) {
<mat-table [dataSource]="secrets" class="table">
  <ng-container matColumnDef="sentBy">
    <mat-header-cell *matHeaderCellDef> sent by </mat-header-cell>
    <mat-cell *matCellDef="let secret"> {{secret.senderEmail}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="received">
    <mat-header-cell *matHeaderCellDef> received </mat-header-cell>
    <mat-cell *matCellDef="let secret"> {{secret.createdDate | date: 'dd/MM HH:mm'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="expires">
    <mat-header-cell *matHeaderCellDef> expires </mat-header-cell>
    <mat-cell *matCellDef="let secret"> {{calculateExpiration(secret.createdDate) | date: 'dd/MM HH:mm'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="openIcon">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let secret">
      <mat-icon (click)="openSecret(secret)">lock_open</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableHeaders;"></mat-row>
</mat-table>
}
