/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-form-field * {
  background-color: transparent !important;
}

.w-100 {
  width: 100%;
}
