.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form mat-form-field {
  width: 100%;
  margin-bottom: 60px;
}

.form mat-form-field textarea {
  font-family: "Times New Roman", serif;
}
