@if (secret$ | async; as secret) {
  <h2 mat-dialog-title>you're secret will be deleted after this is closed</h2>
  <mat-dialog-content><textarea [value]="secret" readonly></textarea></mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
    <button mat-button (click)="copyAndCloseDialog(secret)">Copy and Close</button>
  </mat-dialog-actions>
} @else if (!secret$) {
  <mat-dialog-content>
    <form>
      <mat-form-field class="w-100">
        <mat-label>password</mat-label>
        <input matInput #password>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" (click)="viewSecret(password.value)">submit</button>
  </mat-dialog-actions>
}
